@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<Person>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    
    @foreach (var item in Model)
    {
        <p>@item.Name</p>
    }

</div>
