<h1>Search properties by price</h1>
<form method="get" action="/Properties/">
    Min price: <input type="type" name="minPrice" value="" />
    Max price : <input type="type" name="maxPrice" value="" />
    <input type="submit" name="name" value="Search" />
</form>
